.form-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.form-container {
    flex: 1 1 300px;
    min-width: 280px;
}

.image-container {
    flex: 0 0 auto;
}

.customer-image {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.cad-group.top {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.cad-group.top .input-container:nth-child(1) {
    flex: 0 0 75%;
}

.cad-group.top .input-container:nth-child(2),
.cad-group.top .input-container:nth-child(3) {
    flex: 0 0 10%;
}

.autocomplete-ul {
    position: absolute;
    z-index: 1000;
    list-style: none;
    background: white;
    border: 1px solid #4791C5;
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
}

.autocomplete-ul li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-ul li:hover {
    background-color: #eee;
}

#autocompleteList li.active {
    background-color: #d0e7ff;
    cursor: pointer;
}
  

/* modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 6px;
    width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 10px #000;
}

.receipt-container {
    font-family: monospace;
    font-size: 12px;
    width: 100%;
}

.receipt-container h2 {
    text-align: center;
    font-size: 16px;
}

.receipt-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.receipt-table th,
.receipt-table td {
    padding: 2px 0;
    border-bottom: 1px dashed #ccc;
    text-align: left;
}

hr {
    border: none;
    border-top: 1px dashed #aaa;
    margin: 10px 0;
}

.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.print-btn {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}
