.form-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.form-container {
    flex: 1 1 300px;
    min-width: 280px;
}

.image-container {
    flex: 0 0 auto;
}

.customer-image {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.cad-group.top {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.cad-group.top .input-container:nth-child(1) {
    flex: 0 0 75%;
}

.cad-group.top .input-container:nth-child(2),
.cad-group.top .input-container:nth-child(3) {
    flex: 0 0 10%;
}